<div [ngStyle]="{'width': '100%', 'height': '100%', 'position': 'relative'}">
    <google-map #googleMap height="100%" width="100%" [options]="options">
        <ng-container *ngIf="boundaryPath.length > 0">
            <map-polygon [paths]="boundaryPath" [options]="boundary"></map-polygon>
        </ng-container>
        <ng-container *ngFor="let drone of drones">
            <app-drone [drone]="drone"></app-drone>
        </ng-container>
    </google-map>
    <app-video-player *ngIf="selectedDroneSN" [droneSN]="selectedDroneSN"
        [ngStyle]="{'position': 'absolute', 'top': '0', 'right': '0', 'width': '40%'}"></app-video-player>
</div>